<launch>
  <arg name="local_planner" default="base_local_planner/TrajectoryPlannerROS"/>

  <node pkg="mbf_costmap_nav" type="mbf_costmap_nav" name="move_base_flex"
      respawn="false" output="screen">
    <rosparam command="load" ns="global_costmap"
        file="$(find pallet_pickup_demo)/cfg/carlike/costmap_common_params.yaml"/>
    <rosparam command="load" ns="local_costmap"
        file="$(find pallet_pickup_demo)/cfg/carlike/costmap_common_params.yaml"/>
    <rosparam command="load"
        file="$(find pallet_pickup_demo)/cfg/carlike/local_costmap_params.yaml"/>
    <rosparam command="load"
        file="$(find pallet_pickup_demo)/cfg/carlike/global_costmap_params.yaml"/>
    <rosparam command="load"
        file="$(find pallet_pickup_demo)/cfg/carlike/teb_local_planner_params.yaml"/>
    <rosparam command="load"
        file="$(find pallet_pickup_demo)/cfg/move_base_flex/move_base_flex.yaml"/>
  </node>

  <node pkg="mbf_costmap_nav" type="move_base_legacy_relay.py" name="move_base_legacy_relay">
    <rosparam command="load"
        file="$(find pallet_pickup_demo)/cfg/move_base_flex/default_planner.yaml"/>
  </node>
</launch>
