<launch>
  <include file="$(find afl_bringup)/launch/bringup_afl.launch"/>
  <include file="$(find afl_sensors)/launch/bringup_sensors.launch"/>

  <include file="$(find map_manager_server)/launch/map_manager_server.launch">
    <arg name="open_modifier" value="true"/>
    <arg name="map_path" value="$(find pallet_pickup_demo)/maps/q_lab.yaml"/>
  </include>

  <include file="$(find soter_way_points_navigation)/launch/way_points_navigation.launch"/>

  <node pkg="soter_global_localization" type="soter_global_localization_node"
      name="soter_global_localization_node" output="screen">
    <rosparam command="load"
        file="$(find pallet_pickup_demo)/cfg/soter_global_localization.yaml"/>
  </node>

  <node pkg="soter_local_localization" type="soter_local_localization_node"
      name="soter_local_localization_node" output="screen">
    <rosparam command="load"
        file="$(find pallet_pickup_demo)/cfg/soter_local_localization.yaml"/>
  </node>

  <include file="$(find afl_teleop)/launch/afl_teleop_keyboard.launch"/>
  <node pkg="afl_local_planner" type="NaviController" name="navi_controller_node"
      output="screen"/>

  <include file="$(find pallet_pickup_demo)/launch/bringup_navigation.launch"/>

  <include file="$(find afl_detection)/launch/rs_l515_bringup.launch"/>
  <include file="$(find afl_detection)/launch/detection_ai.launch"/>

  <node pkg="rviz" type="rviz" name="rviz"
      args="-d $(find pallet_pickup_demo)/cfg/pallet_pickup_demo.rviz"/>
</launch>
